In [23]:
from requests import session
from sqlalchemy import Table, Column, Integer, String, MetaData, create_engine
from sqlalchemy import select
from sqlalchemy.orm import declarative_base, sessionmaker

Base = declarative_base()

class CLS2223T1(Base):
    __tablename__ = "TB2103"

    sid = Column(Integer, primary_key = True)
    name = Column(String)
    grade = Column(String)

    def __init__(self, sid, name, grade):
        self.sid = sid
        self.name = name
        self.grade = grade

    def __repr__(self):
        return "<CLS2223T1(sid='%s', name='%s', grade='%s')>"%(self.sid, self.name, self.grade)
    
#Create all Tables
engine = create_engine('sqlite:///lab_1.db', echo = True)
Base.metadata.create_all(engine)

Session = sessionmaker(bind = engine)

2022-08-30 14:24:04,129 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,130 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("TB2103")
2022-08-30 14:24:04,130 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-30 14:24:04,132 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("TB2103")
2022-08-30 14:24:04,132 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-08-30 14:24:04,134 INFO sqlalchemy.engine.Engine
CREATE TABLE "TB2103" (
	sid INTEGER NOT NULL,
	name VARCHAR,
	grade VARCHAR,
	PRIMARY KEY (sid)
)


2022-08-30 14:24:04,134 INFO sqlalchemy.engine.Engine [no key 0.00051s] ()
2022-08-30 14:24:04,136 INFO sqlalchemy.engine.Engine COMMIT

In [24]:

with Session() as sessionInstance:
    #Query table TB2103
    print_table = sessionInstance.query(CLS2223T1)
    print(print_table.all())
    sessionInstance.close()

2022-08-30 14:24:04,158 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,159 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
2022-08-30 14:24:04,160 INFO sqlalchemy.engine.Engine [generated in 0.00068s] ()
[]
2022-08-30 14:24:04,161 INFO sqlalchemy.engine.Engine ROLLBACK

In [25]:
with Session() as sessionInstance:
    #Add myself to table
    JunWei = CLS2223T1(2100614, "JunWei" , "NA")
    sessionInstance.add(JunWei)
    sessionInstance.commit()
    add_myself = sessionInstance.query(CLS2223T1)
    print(add_myself.all())
    sessionInstance.close()

2022-08-30 14:24:04,181 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,182 INFO sqlalchemy.engine.Engine INSERT INTO "TB2103" (sid, name, grade) VALUES (?, ?, ?)
2022-08-30 14:24:04,183 INFO sqlalchemy.engine.Engine [generated in 0.00068s] (2100614, 'JunWei', 'NA')
2022-08-30 14:24:04,184 INFO sqlalchemy.engine.Engine COMMIT
2022-08-30 14:24:04,185 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,186 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
2022-08-30 14:24:04,186 INFO sqlalchemy.engine.Engine [cached since 0.02664s ago] ()
[<CLS2223T1(sid='2100614', name='JunWei', grade='NA')>]
2022-08-30 14:24:04,187 INFO sqlalchemy.engine.Engine ROLLBACK

In [26]:
with Session() as sessionInstance:
    #Add Sansa and Jon
    Sansa = CLS2223T1(2002345, "Sansa Stark", "NA")
    Jon = CLS2223T1(2003456, "Jon Snow", "NA")
    sessionInstance.add(Sansa)
    sessionInstance.add(Jon)
    sessionInstance.commit()
    add_jon = sessionInstance.query(CLS2223T1)
    print(add_jon.all())
    sessionInstance.close()

2022-08-30 14:24:04,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,216 INFO sqlalchemy.engine.Engine INSERT INTO "TB2103" (sid, name, grade) VALUES (?, ?, ?)
2022-08-30 14:24:04,216 INFO sqlalchemy.engine.Engine [generated in 0.00066s] ((2002345, 'Sansa Stark', 'NA'), (2003456, 'Jon Snow', 'NA'))
2022-08-30 14:24:04,218 INFO sqlalchemy.engine.Engine COMMIT
2022-08-30 14:24:04,221 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,223 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
2022-08-30 14:24:04,224 INFO sqlalchemy.engine.Engine [cached since 0.06512s ago] ()
[<CLS2223T1(sid='2002345', name='Sansa Stark', grade='NA')>, <CLS2223T1(sid='2003456', name='Jon Snow', grade='NA')>, <CLS2223T1(sid='2100614', name='JunWei', grade='NA')>]
2022-08-30 14:24:04,229 INFO sqlalchemy.engine.Engine ROLLBACK

In [27]:
with Session() as sessionInstance:
    #Update Jon grade
    Jon = sessionInstance.query(CLS2223T1).filter(CLS2223T1.sid == '2003456').first()
    Jon.grade = "A-"
    sessionInstance.commit()
    update_jon = sessionInstance.query(CLS2223T1)
    print(update_jon.all())
    sessionInstance.close()

2022-08-30 14:24:04,251 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,252 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
WHERE "TB2103".sid = ?
 LIMIT ? OFFSET ?
2022-08-30 14:24:04,252 INFO sqlalchemy.engine.Engine [generated in 0.00080s] ('2003456', 1, 0)
2022-08-30 14:24:04,254 INFO sqlalchemy.engine.Engine UPDATE "TB2103" SET grade=? WHERE "TB2103".sid = ?
2022-08-30 14:24:04,254 INFO sqlalchemy.engine.Engine [generated in 0.00040s] ('A-', 2003456)
2022-08-30 14:24:04,255 INFO sqlalchemy.engine.Engine COMMIT
2022-08-30 14:24:04,256 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,257 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
2022-08-30 14:24:04,257 INFO sqlalchemy.engine.Engine [cached since 0.09794s ago] ()
[<CLS2223T1(sid='2002345', name='Sansa Stark', grade='NA')>, <CLS2223T1(sid='2003456', name='Jon Snow', grade='A-')>, <CLS2223T1(sid='2100614', name='JunWei', grade='NA')>]
2022-08-30 14:24:04,258 INFO sqlalchemy.engine.Engine ROLLBACK

In [28]:

with Session() as sessionInstance:
    #Update my grade
    JunWei = sessionInstance.query(CLS2223T1).filter(CLS2223T1.sid == "2100614").first()
    JunWei.grade = "A+"
    sessionInstance.commit()
    update_myself = sessionInstance.query(CLS2223T1)
    print(update_myself.all())
    sessionInstance.close()

2022-08-30 14:24:04,280 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,280 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
WHERE "TB2103".sid = ?
 LIMIT ? OFFSET ?
2022-08-30 14:24:04,281 INFO sqlalchemy.engine.Engine [cached since 0.02923s ago] ('2100614', 1, 0)
2022-08-30 14:24:04,281 INFO sqlalchemy.engine.Engine UPDATE "TB2103" SET grade=? WHERE "TB2103".sid = ?
2022-08-30 14:24:04,282 INFO sqlalchemy.engine.Engine [cached since 0.02802s ago] ('A+', 2100614)
2022-08-30 14:24:04,282 INFO sqlalchemy.engine.Engine COMMIT
2022-08-30 14:24:04,283 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,284 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
2022-08-30 14:24:04,284 INFO sqlalchemy.engine.Engine [cached since 0.1247s ago] ()
[<CLS2223T1(sid='2002345', name='Sansa Stark', grade='NA')>, <CLS2223T1(sid='2003456', name='Jon Snow', grade='A-')>, <CLS2223T1(sid='2100614', name='JunWei', grade='A+')>]
2022-08-30 14:24:04,285 INFO sqlalchemy.engine.Engine ROLLBACK

In [29]:
with Session() as sessionInstance:
    #Delete Sansa Stark
    Sansa = sessionInstance.query(CLS2223T1).filter(CLS2223T1.sid == "2002345")
    Sansa.delete()
    sessionInstance.commit()
    delete_sansa = sessionInstance.query(CLS2223T1)
    print(delete_sansa.all())
    sessionInstance.close()

2022-08-30 14:24:04,303 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,304 INFO sqlalchemy.engine.Engine DELETE FROM "TB2103" WHERE "TB2103".sid = ?
2022-08-30 14:24:04,304 INFO sqlalchemy.engine.Engine [generated in 0.00037s] ('2002345',)
2022-08-30 14:24:04,305 INFO sqlalchemy.engine.Engine COMMIT
2022-08-30 14:24:04,306 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,307 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
2022-08-30 14:24:04,307 INFO sqlalchemy.engine.Engine [cached since 0.1476s ago] ()
[<CLS2223T1(sid='2003456', name='Jon Snow', grade='A-')>, <CLS2223T1(sid='2100614', name='JunWei', grade='A+')>]
2022-08-30 14:24:04,308 INFO sqlalchemy.engine.Engine ROLLBACK

In [30]:


with Session() as sessionInstances:
    #Delete all students
    sessionInstance.query(CLS2223T1).delete()
    sessionInstance.commit()
    delete_all = sessionInstance.query(CLS2223T1)
    print(delete_all.all())
    sessionInstance.close()

2022-08-30 14:24:04,327 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,327 INFO sqlalchemy.engine.Engine DELETE FROM "TB2103"
2022-08-30 14:24:04,328 INFO sqlalchemy.engine.Engine [generated in 0.00038s] ()
2022-08-30 14:24:04,328 INFO sqlalchemy.engine.Engine COMMIT
2022-08-30 14:24:04,329 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-08-30 14:24:04,330 INFO sqlalchemy.engine.Engine SELECT "TB2103".sid AS "TB2103_sid", "TB2103".name AS "TB2103_name", "TB2103".grade AS "TB2103_grade"
FROM "TB2103"
2022-08-30 14:24:04,330 INFO sqlalchemy.engine.Engine [cached since 0.1707s ago] ()
[]
2022-08-30 14:24:04,331 INFO sqlalchemy.engine.Engine ROLLBACK